@model ForgotPasswordViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password - Service Academy</title>
    <link rel="stylesheet" href="~/css/AccountStyle/Account.css">
</head>
<body>
    <div id="overlay"></div>
    <div id="forgotPassword">
        <span class="close-btn" onclick="closeForm()">&times;</span>
        <h1 class="title">Forgot Password</h1>

        <form asp-action="ForgotPassword" method="post">
            <div class="container">
                <label asp-for="Email"><b>Email</b></label>
                <input asp-for="Email" type="text" placeholder="Enter Email Address" />

                <button type="submit" class="btn">Send Reset Link</button>
            </div>
        </form>
    </div>
    <script>
        function closeForm() {
            window.location.href = '@Url.Action("Home", "Home")';
        }
    </script>
</body>
</html>
